<launch>
  <node name="graft_abs" pkg="graft" type="graft_ukf_absolute" output="screen">
    <rosparam file="$(find dagny)/config/graft_absolute.yaml" command="load" />
  </node>

  <node name="gps_utm" pkg="utm_tf_publisher" type="utm_tf_publisher" output="screen">
    <remap from="fix" to="gps"/>
    <remap from="odom" to="gps_odom"/>

    <param name="frame_id" value="odom"/>
    <param name="child_frame_id" value="base_link"/>

    <param name="relative" value="true"/>
    <param name="fix_hdop" value="true"/>

    <!--
    <param name="imu_topic" value="compass_imu"/>
    <param name="compass_topic" value="heading"/>
    <param name="compass_variance" value="0.05"/>
    -->
  </node>

  <node name="imu_bias_remover" pkg="imu_pipeline" type="imu_bias_remover">
    <param name="use_odom" value="true"/>
  </node>

  <node name="raw_compass" pkg="dagny" type="raw_compass.py"/>

</launch>
